/** 
 * rulai
 */

html,body {
	font: 14px/1.5 "microsoft yahei", Helvetica, Tahoma, Arial, "Microsoft jhengHei", sans-serif;
	color:#404040;
	background-color:#eff0f4;
	padding-top: 60px;
}
body,p,pre,blockquote,
h1,h2,h3,h4,h5,h6,			
dl,dt,dd,ul,ol,li,			
form,fieldset,legend,select,
input,textarea,button,		
table,caption,tr,th,td {
	margin:0;
	padding:0;
}
ol,ul {
	list-style:none;
}
fieldset,img {
	border:0 none;
}
img {
	max-width: 100%;
}
a {
	color: #666;
	text-decoration:none;
}
a:hover{
	text-decoration:none;
}
input,button,textarea,select,option {
	font-family:inherit;
	font-size:100%;	
	outline: 0;
}
textarea {
	overflow: auto;
	resize: none;
}
button {
  overflow: visible;
}
input[type="button"]{
	height: 37px;
	border: #dcdde1 1px solid;
	line-height: 37px;
	cursor: pointer;
	padding: 0 20px;
	background: none;
	border-radius: 5px;
	color: #787878;
	-webkit-appearance: button; /* 2 */
}

.rl-left{
	float: left;
}
.rl-right{
	float: right;
}
.rl-color-blue{
	color: #3e90fe;
}
.rl-btn{
	clear: both;
	display: block;
	border-radius: 5px;
	text-align: center;
	height: 40px;
	line-height: 40px;
	color: #fff;
}
.rl-btn-200{
	width: 200px;
	margin: 25px auto 0 auto;
}
.rl-btn-90{
	width: 90px;
	margin: 25px auto 0 auto;
}
.rl-btn-120{
	width: 120px;
	margin: 25px auto 0 auto;
}
.rl-btn-60{
	width: 60px;
	margin: 25px auto 0 auto;
}
.rl-btn-w120{
	width: 120px;
}
.rl-btn-yzm{
	position: absolute;
	top: 0px;
	right: 0px;
	width: 110px;
	height: 35px;
	line-height: 35px;
	background: none;
	border: #dcdde1 1px solid;
	border-radius: 3px;
	color: #666;
}
/*蓝色*/
.rl-btn-blue{
	 background-color: #3e90fe;
 }
a.rl-btn-blue{
	background-color: #3e90fe;
	cursor: pointer;
}
a:hover.rl-btn-blue{
	background-color: #145bbb;
}
/*绿色*/
.rl-btn-greed{
	background-color: #28d265;
}
a.rl-btn-greed{
	background-color: #28d265;
}
a:hover.rl-btn-greed{
	background-color: #05a63f;
}
/*灰色*/
.rl-btn-gray{
	background-color: #bbbfca;
	cursor: pointer;
}
a.rl-btn-gray{
	background-color: #bbbfca;    
}
a:hover.rl-btn-gray{
	background-color: #898d96; 
}
/*基础*/
.rl-btn-basics{
	background-color: #bbbfca;
}
a.rl-btn-basics{
	background-color: #bbbfca;
}
a:hover.rl-btn-basics{
	background-color: #898d96;
}
.rl-btn-up-pics a,
.rl-btn-ellipse a,
.rl-btn-ttags a{
	display: inline-block;
	width: 150px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	color: #fff;
	background-color: #3e90fe;
	border-radius: 35px;
}
.rl-btn-up-pics a:hover,
.rl-btn-ellipse a:hover,
.rl-btn-ttags a:hover
{
	background-color: #145bbb;
}
/*自适应按钮*/
.rl-btn-self{
	border-radius: 5px;
	text-align: center;
	padding: 8px 15px;
	height: 35px;
	line-height: 35px;
	color: #fff;
}
.rl-btn-group li{
	float: right;
	display: inline-block;
	margin-left: 15px;
}

.rl-btn-nonebg{
	height: 35px;
	padding: 8px 15px;
	line-height: 35px;
	font-size: 14px;
	border: #bbbfc8 1px solid;
	border-radius: 5px;
	text-align: center;
	color: #666;
}
.rl-btn-nonebg:hover{
	padding: 9px 16px;
	background-color: #3e90fe;
	border: 0;
	color: #fff;
}
/*input*/
.rl-input-big,.rl-input-md,.rl-input-sm,.rl-input-180{
	height: 35px;
	line-height: 35px;
	padding: 0 10px;
	background-color: #eeeff3;
	border: #dcdde1 1px solid;
	color: #666;
}
.rl-input-big{
	width: 340px;
}
.rl-input-md{
	width: 240px;
}
.rl-input-sm{
	width: 120px;
}
.rl-input-180{
	width: 178px;
}
/*select*/
.select_120,
.select_200{
	padding: 0 0 0 5px;
	height: 37px;
	line-height: 30px;
	border: #dcdde1 1px solid;
	color: #666;
	font-size: 14px;
	background: url(../images/selectbg.png) #eeeff3 no-repeat right 0;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	font-family: "Microsoft YaHei",微软雅黑;
}
.select_120 {
	width: 142px;
}
.select_200 {
	width: 200px;
}

.rl-bgcolor-blue{
	background-color: #3e90fe;
}
.rl-bgcolor-greed{
	background-color: #28d265;
}
/*选框*/
.rl-checkbox-default {
}
.rl-checkbox-default:checked {
	content: url(../images/checkbox-2.png);
}
.rl-checkbox-more:checked {
	content: url(../images/checkbox-3.png);
}
/*分页*/
.rl-page-list{
	clear: both;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 90px;
	border-top: #e2e3e5 1px solid;
}
.pagingUl{
	float:right;
	padding:0;
	margin:0;
	list-style: none;
}
.pagingUl li{
	float: left;
	height: 32px;
	text-align: center;
}
.pagingUl li a{
	text-decoration: none;
	display: inline-block;
	width: 32px;
	height: 32px;
	text-align: center;
	line-height: 32px;
	padding: 0;
	background: #fafafa;
	color: #666;
	font-size: 14px;
	border: 1px solid #ddd;
}

.prv, .next {
	width: 32px;
	height: 32px;
	float: left;
	text-align: center;
	line-height: 30px;
	border: 1px solid #ddd;
	cursor: pointer;
	margin: 0 10px;
}
.first, .last {
	width: 32px;
	height: 32px;
	font-size: 14px;
	text-align: center;
	line-height: 32px;
	border: 1px solid #ddd;
	cursor: pointer;
}
.pageTest{
	position: absolute;
	bottom: 0;
	left: 24px;
	height: 60px;

}
.activP{
	background-color: #3e90fe!important;
	color: #fff!important;
	border: 0px!important;
	width: 34px!important;
	height: 34px!important;
}

/* 顶部导航 */
.rl-top{
	position: fixed;
	top:0;
    right: 0;
    left: 0;
    z-index: 1030;
	background:#2b2b2d;
	height:60px;
}
.rl-header,.rl-page{
	width: 1200px;
	margin: 0 auto;
}
.rl-header{
	position: relative;
	height: 60px;
}
.rl-logo{
	position:absolute;
	left:0px;
	top:1px;
	display:block;
	width:160px;
	height:56px;
	background:url(../images/logo.gif) no-repeat 0 0;
	overflow:hidden;
	text-indent:-999px;
}
.rl-nav{
	position:absolute;
	left:240px;
	top:0px;
}
.rl-nav li {
	float: left;
	display: inline-block;
}
.rl-nav-list {
	float: none;
}
.rl-nav li a,
.rl-nav li a:hover{
	display: block;
	text-decoration: none;
	line-height:58px;
	padding:0 30px 0 30px;
	font-size: 16px;
	color:#bebebe
}
.rl-nav li a:hover{
	border-bottom:#3c91fe 2px solid;
	color:#3c91fe;
	background:#222224
}
.rl-nav li a.rl-active{
	border-bottom:#3c91fe 2px solid;
	color:#3c91fe;
	background:#222224
}
.rl-mynav,.rl-myheadernav{
	position: relative;
}
.rl-myheadernav{
	display: block;
	height: 50px;
	width: 40px;
}
.rl-mylist,.rl-myheaderlist{
	display: none;
	position: absolute;
	top: 60px;
	left: -45px;
	padding: 5px 15px;
	border-radius: 0 0 5px 5px;
	background:rgba(43,43,45,.8);
}
.rl-myheaderlist{
	top: 50px;
	left: -140px;
}
.rl-myheaderlist p,
.rl-mylist p{
	width: 150px;
	padding: 0;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: #bebebe;
}
.rl-myheaderlist p a,
.rl-myheaderlist p a:hover,
.rl-mylist p a,
.rl-mylist p a:hover{
	display: block;
	text-decoration: none;
	line-height:50px;
	padding:0 10px;
	font-size: 16px;
	color:#bebebe
}
.rl-myheaderlist p a:hover,
.rl-mylist p a:hover{
	color:#fff;
	background: none;
	border: 0;
}
.rl-myheaderlist p:first-child,
.rl-mylist p:first-child{
	border-bottom: #bebebe 1px solid;
}
/*登录*/
.rl-login{
	position:absolute;
	right:0px;
	top:0px;
	line-height: 58px;
	text-align: right;
	color:#bebebe
}
.rl-login a{
	display: inline-block;
	text-decoration: none;
	line-height:58px;
	margin-left: 5px;
	font-size: 16px;
	color:#bebebe
}
.rl-login a:hover{
	color:#3c91fe;
}
/*登录后*/
.rl-login-header{
	position:absolute;
	right:0px;
	top:10px;
}
.rl-login-header img{
	width: 40px;
	height: 40px;
	border-radius: 50%;
}
.rl-login-tag{
	position:absolute;
	right:55px;
	top:20px;
}



/*登录弹框*/
#rl-login-box,#rl-login-zcbox{
	padding: 40px;
	overflow: hidden;
}
#rl-login-box li,#rl-login-zcbox li{
	position: relative;
	margin-bottom: 15px;
	text-align: center;
	font-size: 14px;
	min-height: 40px;
}
#rl-login-box h2,#rl-login-zcbox h2{
	font-size: 24px;
	font-weight: normal;
	padding: 0 0 20px 0;
}
#rl-login-box li a.rl-btn-200,#rl-login-zcbox li a.rl-btn-200{
 	background-color: #3e90fe;
}
#rl-login-box li a:hover.rl-btn-200,#rl-login-zcbox li a:hover.rl-btn-200{
	background-color: #216acd;
}
#rl-login-box li a:hover.rl-btn-yzm,#rl-login-zcbox li a:hover.rl-btn-yzm{
	background-color: #ddd;
}

.rl-up-header{
	border-radius: 50%;
	width: 80px;
	height: 80px;
	background: url(../images/bg-header.png) no-repeat center center #e9eaee;
}
.rl-btn-upheader a{
	position: absolute;
	top: 25px;
	left: 100px;
	display: block;
	width: 100px;
	height: 30px;
	line-height: 30px;
	background: none;
	border: #dbdbdd 1px solid;
	border-radius: 20px;
	color: #666;
}
.rl-btn-upheader a:hover{
	background-color: #3e90fe;
	color: #fff;
	border: #3e90fe 1px solid;
}
.rl-text-nc{
	height: 25px;
	line-height: 20px;
	text-align: left;
	padding: 0;
	color: #666;
}
.rl-text-red{
	line-height: 20px;
	text-align: left;
	padding: 0 0 10px 0;
	color: #f00;
}

#rl-inquiry-box{
	width: 320px;
	height: 80px;
}
#rl-inquiry-box h1{
	text-align: center;
	line-height: 40px;
	font-size: 16px;
}
.rl-table-inquiry{
	width: 100%;
	margin-top: 30px;
}
.rl-table-inquiry td{
	width: 50%;
	padding:0 10px;
}

.rl-body{
	padding-top:60px;
}

/*白色背景*/	
.rl-line-white{
	width: 100%;
	min-height: 100px;
	padding: 20px 0;
	background-color: #FFFFFF;
}

.rl-page{
	padding: 20px 0;
}
/*左侧菜单*/
.rl-left-nav{
	width: 190px;
	min-height: 850px;
	border: #e2e3e5 1px solid;
	background-color: #FFFFFF;
}
.rl-leftnav-list{
	line-height: 50px;
	font-size: 16px;
	text-indent: 30px;
	border-bottom: #e2e3e5 1px solid;
}
.rl-leftnav-list a{
	display: block;
	line-height: 50px;
	font-size: 16px;
	text-indent: 30px;
	color: #282828;
}
.rl-leftnav-list a:hover{
	background-color: #fbfdfc;
	color: #3d8fff;
}
.rl-leftnav-list a.rl-active{
	background-color: #fbfdfc;
	color: #3d8fff;
}
.rl-navlist-tow{
	padding-bottom: 15px;
}
.rl-navlist-tow li a{
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	text-indent: 60px;
}
.rl-navlist-tow li a:hover{
	color: #3d8fff;
}

/*右侧内容*/
.rl-mainbox{
	float: right;
	width: 990px;
	min-height: 850px;
	border: #e2e3e5 1px solid;
	background-color: #FFFFFF;
}
/*选择活动类型*/
.rl-choice-h1{
	text-align: center;
	font-size: 24px;
	color: #515151;
	line-height: 60px;
	padding-top: 60px;
}
.rl-choice{
	text-align: center;
	margin: 40px auto;
}
.rl-establish-box{
	position: relative;
	display: inline-block;
	width: 450px;
	height: 260px;
	margin: 0 30px;
	border: #e3e2e7 1px solid;
}
.rl-establish-box h2{
	position: absolute;
	top: -1px;
	left: -1px;
	width: 452px;
	height: 60px;
	line-height: 60px;
	font-size: 20px;
	font-weight: normal;
	color: #fff;
	text-align: center;
}
.rl-establish-con{
	position: absolute;
	top: 80px;
	left: 25px;
	width: 400px;
	height: 115px;
	line-height: 24px;
	color: #666;
	text-align: left;
}
.rl-establish-con h3{
	width: 100%;
	height: 40px;
	line-height: 40px;
	color: #333333;
	text-align: left;
}
.rl-btn-kon{
	width: 114px;
	height: 35px;
	line-height: 35px;
	border: #a0a0a0 1px solid;
	border-radius: 5px;
	color: #656565;
}
.rl-btn-kon:hover{
	width: 114px;
	height: 35px;
	line-height: 35px;
	border: #505050 1px solid;
	border-radius: 5px;
	color: #151515;
}
.rl-btn-hd-one,.rl-btn-hd-two,.rl-btn-hd-three{
	position: absolute;
	bottom: 15px;
}
.rl-btn-hd-one{
	left: 25px;
}
.rl-btn-hd-two{
	left: 168px;
}
.rl-btn-hd-three{
	right: 25px;
}
/*选择入驻类型*/
.rl-check-box{
	display: inline-block;
	width: 253px;
	height: 200px;
	margin: 0 30px;
	border: #e3e2e7 1px solid;
	text-align: center;
	background-color: #fff;
}
.rl-check-box:hover{
	-webkit-box-shadow: 0px 0px 5px 2px #e2e2e2;
	box-shadow: 0px 0px 5px 1px #e2e2e2;
}
.rl-check-box img{
	width: 80px;
	height: 80px;
	margin: 40px auto 10px auto;
}
.rl-check-box h2{
	width: 100%;
	height: 40px;
	line-height: 40px;
	font-weight: normal;
	color: #333333;
}
/*footer*/
.rl-footer{
	clear: both;
	width: 100%;
	height: 50px;
	background-color: #2b2b2d;
	padding:20px 0;
	text-align: center;
	color: #bebec0;
}
.rl-footer-link a{
	color: #bebec0;
	margin: 0 5px;
}
.rl-footer-link a:hover{
	color: #3e90fe;
}
.rl-copyright{
	color: #bebec0;
	line-height: 30px;
}
/*公共BOX*/
.rl-public-box{
	width: 1118px;
	min-height: 50px;
	padding: 10px 40px 20px 40px;
	background: url("../images/line.gif") no-repeat #fff 20px 20px;
	border: #e2e3e5 1px solid;
	margin: 20px auto 0px auto;
}
.rl-bg-none{
	background: none;
	background-color: #fff;
}
.rl-bg-none h3{
	text-align: center;
}
.rl-public-box h3{
	font-size: 18px;
	font-weight: normal;
	height: 45px;
	line-height: 45px;
	border-bottom: #e2e3e7 2px solid;
	margin-bottom: 10px;
}
.rl-public-box h4{
	font-size: 14px;
	font-weight: normal;
	height: 20px;
	line-height: 20px;
	color: #f00;
}
.rl-table-ordinary{
	width: 100%;
	border: 0;
	margin: 10px auto;
}
.rl-table-ordinary td{
	padding: 5px;
	min-height: 40px;
	line-height: 40px;
	align-content: center;
	font-size: 16px;
}
.rl-table-nei{
	width: 520px;
	border: 0;
}
.rl-table-nei td{
	min-height: 40px;
	line-height: 40px;
}
.rl-table-ali-left{
	text-align: left;
}
.rl-table-ali-right{
	text-align: right;
}
/*上传封面*/
.rl-up-feng{
	position: relative;
	width: 158px;
	height: 98px;
	border: #ddd 1px solid;
	margin: 5px 0;
}
.rl-upfeng{
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 158px;
	height: 98px;
	cursor: pointer;
	text-indent: -999999px;
	z-index: 11;
	overflow: hidden;
	filter:alpha(opacity=0);
	-moz-opacity:0;
	-khtml-opacity: 0;
	opacity: 0;
}
.rl-myfeng-upbtn a{
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 158px;
	height: 98px;
	text-align: center;
	line-height: 98px;
	color: #999;
	background: rgba(255,255,255,0.1);
	z-index: 10;
}
.rl-myfeng-upbtn a img{
	position: absolute;
	top: 29px;
	left: 59px;
	width: 40px;
	height: 40px;
}
.rl-myfeng-upbtn a:hover{
	background: rgba(255,255,255,0.5);
}
.rl-up-feng img{
	position: absolute;
	top: 0;
	left: 0;
	width: 158px;
	height: 98px;
}
#rl-feng-photo{
	background-image: url(../images/bg-header.png);
}
.rl-textarea-big{
	width: 100%;
	height: 300px;
	border: #ddd 1px solid;
	padding: 2px;
}
.rl-textarea-md{
	width: 100%;
	height: 100px;
	border: #ddd 1px solid;
	padding: 2px;
}
.rl-bottom-btnbox{
	padding: 20px 0 50px 0;
	text-align: center;
}

/*入驻上传照片*/
.rl-up-pics-header{
	position: relative;
	min-height: 40px;
}
.rl-up-btn-pics{
	position: absolute;
	top: 0px;
	left: 0px;
	display: block;
	width: 150px;
	height: 35px;
	cursor: pointer;
	text-indent: -999999px;
	z-index: 11;
	overflow: hidden;
	filter:alpha(opacity=0);
	-moz-opacity:0;
	-khtml-opacity: 0;
	opacity: 0;
}
.rl-up-pics-header-img img{
	max-width: 90px;
	max-height: 90px;
	border: 0;
}
.rl-up-pics-erweima-img img{
	max-width: 150px;
	max-height: 150px;
	border: 0;
}
.rl-up-pics-jietu-img img{
	max-width: 270px;
	border: 0;
}
.rl-text-explain{
	font-size: 14px;
	color: #999;
}
/*充值弹窗*/
.rl-recharge-box{
	display: none;
	padding: 20px 30px;
	min-height: 400px;
}
.rl-recharge-box h2,
.rl-recharge-box h4{
	width: 100%;
	font-weight: normal;
	text-align: center;
}
.rl-recharge-box h2{
	font-size: 24px;
}
.rl-recharge-box h4{
	font-size: 14px;
	color: #ff0000;
	line-height: 30px;
	margin-bottom: 30px;
}
.rl-btn-list li{
	float: left;
	display: inline-block;
	margin-left: 15px;
	font-size: 14px;
}
.rl-btn-list li a{
	display: inline-block;
	width: 90px;
	height: 35px;
	line-height: 35px;
	font-size: 14px;
	border: #bbbfc8 1px solid;
	border-radius: 5px;
	text-align: center;
	color: #666;
}
.rl-btn-list li a:hover{
	padding: 1px;
	background-color: #3e90fe;
	border: 0;
	color: #fff;
}
.rl-btn-list li a.rl-active{
	padding: 1px;
	background-color: #3e90fe;
	border: 0;
	color: #fff;
}
.rl-chongbox{
	clear: both;
	display: none;
	min-height: 140px;
	padding-top: 30px;
	font-size: 14px;
	text-align: center;
}
.rl-chongbox img{
	width: 140px;
	height: 140px;
	margin: 0 auto;
}

.rl-no-neirong{
	position: absolute;
	top: 500px;
	left: 0;
	right: 0;
	width: 1200px;
	margin: 0 auto;
	text-align: center;
	line-height: 40px;
}

/*关于我们*/
.rl-about-tith2{
	width: 930px;
	margin: 15px auto;
	height: 50px;
	border-bottom: #e2e3e5 1px solid;
	font-size: 16px;
	line-height: 45px;
	padding-left: 10px;
	font-weight: normal;
}


