<extend name="Public/base"/>

<block name="body">
	<div class="main-title">
		<h2>邮箱管理</h2>
	</div>

	<div class="cf">
		<a class="btn" href="{:U('add')}">新 增</a>
		<a class="btn" href="javascript:;">删 除</a>
		<!-- 高级搜索 -->
		<div class="search-form fr cf">
			<div class="sleft">
				<input type="text" name="name" class="search-input" value="{:I('name')}" placeholder="请输入配置名称">
				<a class="sch-btn" href="javascript:;" id="search" url="{:U('config/index')}"><i class="btn-search"></i></a>
			</div>
		</div>
	</div>

	<div class="data-table table-striped">
		<table>
			<thead>
			<tr>
				<th class="row-selected">
					<input class="checkbox check-all" type="checkbox">
				</th>
				<th>ID</th>
				<th>SMTP服务器地址</th>
				<th>账号</th>
				<th>端口号</th>
				<th>已调用次数</th>
				<th>操作</th>
			</tr>
			</thead>
			<tbody>
			<notempty name="list">
				<volist name="list" id="config">
					<tr>
						<td><input class="ids row-selected" type="checkbox" name="id[]" value="{$config.id}"></td>
						<td>{$config.id}</td>
						<td>{$config.email}</td>
						<td>
							{$config.account}
						</td>
						<td>{$config.port}</td>
						<td>{$config.second}次</td>
						<td>
							<a title="编辑" href="{:U('add?id='.$config['id'])}">编辑</a>
							<eq name="config.status" value="1">
								<a title="禁用" href="{:U('Email/del?method=forbidUser&id='.$config['id'])}" class="ajax-get">禁用</a>
								<else/>
								<a title="启用" href="{:U('Email/del?method=resumeUser&id='.$config['id'])}" class="ajax-get">启用</a>
							</eq>
						</td>
					</tr>
				</volist>
				<else/>
				<td colspan="6" class="text-center"> aOh! 暂时还没有内容! </td>
			</notempty>
			</tbody>
		</table>
		<!-- 分页 -->
		<div class="page">
			{$_page}
		</div>
	</div>
</block>

<block name="script">
	<script type="text/javascript" src="__STATIC__/jquery.imgbox.pack.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$("#example1-1").imgbox();

			$("#example1-2").imgbox({
				'zoomOpacity'	: true,
				'alignment'		: 'center'
			});

			$("#example1-3").imgbox({
				'speedIn'		: 0,
				'speedOut'		: 0
			});

			$("#example2-1, #example2-2").imgbox({
				'speedIn'		: 0,
				'speedOut'		: 0,
				'alignment'		: 'center',
				'overlayShow'	: true,
				'allowMultiple'	: false
			});
		});
	</script>
	<script type="text/javascript">
		$(function(){
			//搜索功能
			$("#search").click(function(){
				var url = $(this).attr('url');
				var query  = $('.search-form').find('input').serialize();
				query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
				query = query.replace(/^&/g,'');
				if( url.indexOf('?')>0 ){
					url += '&' + query;
				}else{
					url += '?' + query;
				}
				window.location.href = url;
			});
			//回车搜索
			$(".search-input").keyup(function(e){
				if(e.keyCode === 13){
					$("#search").click();
					return false;
				}
			});
			//点击排序
			$('.list_sort').click(function(){
				var url = $(this).attr('url');
				var ids = $('.ids:checked');
				var param = '';
				if(ids.length > 0){
					var str = new Array();
					ids.each(function(){
						str.push($(this).val());
					});
					param = str.join(',');
				}

				if(url != undefined && url != ''){
					window.location.href = url + '/ids/' + param;
				}
			});
		});
	</script>
</block>