<extend name="Base/common"/>

<block name="header">
    <header class="subhead" id="overview">
        <div class="containers">
            <h2>记录分享 回味生活</h2>
            <p class="lead"></p>
        </div>
    </header>
    <link rel="stylesheet" href="__STATIC__/uploadify/uploadify.css" />

    <style>
        .lab{
            height: 40px;
            line-height: 40px;
            padding: 0 10px;
            background-color: #eeeff3;
            border: #dcdde1 1px solid;
            color: #666;
            width: 360px;
        }
        table tr td {
            font-size: 18px;
            margin-top: 30px;
            line-height: 30px;;
        }
        .upload-box{
            height:100px;
        }
        .upload-box img,.uploadify{
            float:left;
            margin-right:10px;
        }
        .imgbox{
            position:relative;
            float:left
        }
        .imgbox span{
            cursor:pointer;
            position:absolute;
            right:15px;
            top:5px;
            display:block;
            width:20px;
            height:20px;
            text-align:center;
            line-height:20px;
            background:rgba(0,0,0,0.5);
            color:#fff
        }

    </style>
</block>
<block name="body">
<div style="margin: 20px auto; width:80%; height: 500px; background-color: #fff; padding: 30px 40px 20px 40px" >
    <form  action="{:U('Share/add')}" method="post" enctype="multipart/form-data">
            <table  style="width: 100%;">
                <tr style="margin-top: 20px;">
                    <td width="300" align="right">
                        标题:
                    </td>
                    <td>
                        <input type="text" name="title" style="background-color: #eeeff3; height:28px; margin-left: 15px;" class="lab" placeholder="请输入媒体名称">
                    </td>
                </tr>
                <tr>
                    <td width="300" align="right">
                        关键字:
                    </td>
                    <td>
                        <input type="text" name="keywords" style="background-color: #eeeff3; height:28px; margin-left: 15px;" class="lab" placeholder="请输入媒体名称">
                    </td>
                </tr>
                <tr>
                    <td width="300" align="right">
                        上传图片:
                    </td>
                    <td>
                        <div class="upload-box">
                            <volist name="info['img']" id="vo">
                                <neq name="vo" value="undefined">
                                    <div class="imgbox"><span>X</span>
                                        <img src="{$vo}" class="imgView" style="height:100px;">
                                        <input type="hidden" name="img[]" value="{$vo}">
                                    </div>
                                </neq>
                            </volist>
                            <input id="upfeng" type="file"/>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td width="300" align="right">
                        内容:
                    </td>
                    <td>
                       <textarea style="margin-left: 15px; width: 500px; height: 50px; margin-top: 20px;" name="content" class="content">

                       </textarea>
                    </td>
                </tr>
                <tr>
                    <td width="300" align="right">
                        视频地址:
                    </td>
                    <td>
                        <input type="text" name="source_vedio" style="background-color: #eeeff3; height:28px; margin-left: 15px;" class="lab" placeholder="请输入视频地址">
                    </td>
                </tr>
                <tr>
                    <td  width="300" align="right">
                        <input type="button"  class="btn" style="margin:20px 0px 0px 20px;  width: 100px; height: 50px; color: #fff; background-color: #3e90fe; cursor: pointer;" value="登陆">
                    </td>
                </tr>
            </table>
    </form>
</div>
</block>
<block name="script">
    <script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
    <script>
        /*上传封面*/
        $('#upfeng').uploadify({
            'auto' : true,
            'removeTimeout' : 1,//文件队列上传完成1秒后删除
            'swf' : '__STATIC__/uploadify/uploadify.swf',
            'uploader' : '{:U("File/uploadImg")}',
            'method' : 'post', //方法，服务端可以用$_POST数组获取数据
            'buttonText' : '上传图片 ',//设置按钮文本
            'buttonClass':'#fff;',
            "width": 100,		//设置按钮宽
            "height": 100,	//设置按钮高
            'multi' : true,	//允许同时上传多张图片
            'fileTypeDesc' : 'Image Files',//只允许上传图像
            'fileTypeExts' : '*.gif;*.jpg;*.png;*.bmp;*.jpeg',//限制允许上传的图片后缀
            'fileSizeLimit': '5MB',
            'progressData': 'percentage',
            'queueID': 'upload-img-tip',
            'onUploadSuccess' :function(file, data,response) {
                var data = $.parseJSON(data);
                var length = $('.upload-box img').length;
                if(length>=9){
                    alert('最多允许上传9张图片！');
                    return false
                }
                $(".upload-box").prepend(
                        '<div class="imgbox"><span>X</span>'+
                        '<img src="'+data.src+'" class="imgView" style="height:100px;">'+
                        '<input type="hidden" name="img[]" value="'+data.id+'"/></div>'
                );
            },
            'onFallback' : function() {
                alert('未检测到兼容版本的Flash.');
            }
        });

        //删除图片
        $(document).on('click','.imgbox span',function(){
            var $box = $(this).parent('.imgbox');
            $box.fadeOut('500',function(){
                $(this).remove()
            });
        });
    </script>
        <script>
            $(".btn").click(function(){
                 var title=$("input[name='title']").val();
                if(title==''){
                    layer.msg('标题不能为空')
                }
                var keywords=$("input[name='keywords']").val();
                if(keywords==''){
                    layer.msg('关键词不可为空')
                }
                var content=$("[name='content']").val();
                var source_vedio=$("[name='source_vedio']").val();
                if(content==''){
                    layer.msg('内容不可为空')
                }
                var medias = '';//媒体属性
                $(".imgbox input[name='img[]']").each(function () {
                    if (medias == '') {
                        medias = $(this).val();
                    } else {
                        medias += "," + $(this).val();
                    }
                });
                $.ajax({
                         type:"POST",
                        url:"{:U('Share/add')}",
                         data:{title:title,keywords:keywords,content:content,img:medias,source_vedio:source_vedio},
                        dataType:"json",
                        success:function(data){
                            if(data.status==1){
                              layer.msg(data.info);
                                window.location.href=data.jump;
                            }else{
                                layer.msg('data.info');
                                window.location.href='data.jump';
                            }
                        }
                })

            })

        </script>

</block>
